<header>
  <h1><p> <%=  current_user.email %></p></h1>
  <a href="/logout" ><button id="logaut" type="button" id="gt">log Out</button></a>
  <a href="/user_profile" ><button id="perfil" type="button">Perfil</button></a>
  <a href="/home" ><button id="sesion" type="button">Regresar</button></a>
</header>
  
  <% test = Survey.last%>
  <center><h1><%= test.survey_name%></h1></center>
  <div class="caja">
    <% test.questions.all.each_with_index do |question, index| %> 
      <p><%= index +1 %>.- <%= question.question_name %></p>
    <% end %>  
    <form  method="post" action="/create_question" id="myForm">
      <input name="s_id" type="hidden" value="<%=  test.id %>" id='s_id'>
      <input name="question_name" type="question" placeholder="Type question here" id="create_question1" >
      <input type="submit" value="Create Question" id="btn_start1">
    </form>
  </div class="caja">