<header>
  <h1><p> <%=  current_user.email %></p></h1>
  <a href="/logout" ><button id="logaut" type="button" id="gt">log Out</button></a>
  <a href="/user_profile" ><button id="perfil" type="button">Perfil</button></a>
  <a href="/home" ><button id="sesion" type="button">Regresar</button></a>
</header>


  <center><h1><%=  current_user.email %></h1></center>
  <form id="new_survey" action="/create_survey" method="post">
  <input type="text" name="survey_name" placeholder="Survey">
  <input type="submit" value="Create Survey"><br>
</form><br><br> 

   <center><h3>Authored Survey:</h3></center> 
   <center><TABLE >
    <TR>
      <TH>Title</TH> <TH>URL</TH> <TH>Status</TH>
    <% suurvey = Survey.last(10).reverse%>
    <% suurvey.each_with_index do |survey, index| %> 
      
    </TR>
    <TR>

      <TD><h3><a href ='/find_survey/<%=survey.id%>'><%= index +1 %>.-  <%= survey.survey_name%></a></h3></TD> <TD> </TD> <TD> </TD>
    </TR>
    </TABLE></center> 

  <% end %> 
  <center><h3>Taken Survey:</h3></center>